<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1051160665330-9d07r12utq5sfvkmpemuoab6m3cjjbs0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1051160665330-9d07r12utq5sfvkmpemuoab6m3cjjbs0</string>
	<key>API_KEY</key>
	<string>AIzaSyDq2aqs_TEZ5iFBCn6U5hJmvspogK6Zeyw</string>
	<key>GCM_SENDER_ID</key>
	<string>1051160665330</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterAuth</string>
	<key>PROJECT_ID</key>
	<string>fir-auth-b7a9b</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-auth-b7a9b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1051160665330:ios:352569e4f52473044e846b</string>
</dict>
</plist>